/* .new-item-card{
    display: flex;
    padding: 25px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 7px 20px rgba(211, 211, 211,0.4);
    margin-bottom: 50px;
}
.new-item-card.checkbox{
    margin-right: 20px;
}
.new-item-card input{
    border: none;
    border-bottom: 2px solid black;
    width:100%;
    padding: 10px 0px;
    font-size: 20px;
}
 .new-item-card input:focus{
    outline:none;
    border-width: 2px;
}
.ip{
    flex-grow:1;
}
.btn{
    width: 100%;
}

.btn-container{
    display: flex;
    gap:10px;
    margin-top: 20px;
}

.btn-container button{
    padding:10px 30px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in ;
}
.btn-container button.primary{
    background-color: yellow;
}

.btn-container button:hover{
    box-shadow: 2px 10px 15px #aaa;
}

.badge-container{
    display: flex;
    margin-top: 15px;
    gap:10px;
}

.badge-container .p-badge{
    border:1px solid #aaa;
    border-radius: 20px;
    font-size: 12px;
    cursor: pointer;
    width:60px;

    

} */



.new-Item-card{
    display: flex;
    padding:25px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 50px;
    box-shadow: 0px 7px 20px rgba(211, 211, 211, 0.4);
}

.new-Item-card .checkbox{
    margin-right: 20px;
    margin-top: 10px;
}

.new-Item-card input{
    width:100%;
    border:none;
    border-bottom: 2px solid;
    outline:none;
}
.new-Item-card .form-container input:focus{
    outline: none;
    border-width: 2px;
}
.new-Item-card .form-container{
    flex-grow: 1;
}

.btn-container{
    display: flex;
    gap:10px;
    margin-top: 20px;
}

.btn-container button{
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.btn-container .btn-primary{
    background-color: yellow;
}
.btn-container .btn-primary{
    background-color: yellow;
}

.btn-container button:hover{
    box-shadow: 2px 10px 15px green;
}

.badge-container{
    display: flex;
    margin-top: 15px;
    gap:10px;
}

.badge-container .p-badge{
    border:1px solid;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    width:60px;
    padding: 4px 10px;
}
.badge-container .p-badge.selected.low{
    border:1px solid #31fc03;
    background-color: #31fc0333;
}
.badge-container .p-badge.selected.medium{
    border:1px solid #fce303;
    background-color: #fce30333;
}
.badge-container .p-badge.selected.high{
    border:1px solid red;
    background-color: #fc390333;
}